body{font-family: 'Hanken Grotesk', sans-serif;}

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;}

.app{background-color: rgb(248, 251, 251);
    display: flex;
    align-items: center;
    justify-content: center;
    }

.container{ background-color: white;
            display: flex;
            min-width: 50vw;
            height: 550px;
            border-radius: 20px;
            box-shadow: 3px 3px 10px ;
            flex-shrink: 0;}

.left{  flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(
            to bottom,
            hsl(252, 100%, 67%),
            hsl(241, 81%, 54%));
        border-radius: 20px;}

.title-result{  color: rgb(177, 173, 173);}

.circle{    width: 150px;
            height: 150px;
            border-radius: 50%;
            font-size: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background: linear-gradient(
            to bottom,
             hsla(256, 72%, 46%, 1),
             hsla(241, 72%, 46%, 0));
            font-weight: bolder;
            color: white;}

.remainder{ font-size: 15px;
            position: absolute;
            margin-top: 100px;
            color: rgb(203, 196, 196);}

.remark{color: white;
        font-size: 25px;
        }

.paragraph{color: rgb(212, 204, 204);
            font-size: 20px;
            text-align: center;
            width: 65%;}

.right{flex: 1;}

.right-container{display: flex;
                flex-direction: column;
                padding: 30px;}

.items{ display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        top: 80px;}

.items>*{border-radius: 15px;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        font-size: 17px;}

.first-data{background-color: hsla(0, 100%, 67%, 0.13);}

.react-color{color: red;
            font-weight: bold;}
.spec80{font-weight: bold;}

.second-data{background-color: hsla(39, 100%, 56%, 0.16);}

.memory-color{color: rgb(245, 152, 12);
            font-weight: bold;}

.spec92{font-weight: bold;}

.third-data{background-color: hsla(166, 100%, 37%, 0.14);}

.verb-color{color: rgb(14, 175, 121);
            font-weight: bold;}

.spec61{font-weight: bold;}

.fourth-data{background-color: hsla(234, 85%, 45%, 0.185);}

.visual-color{color: blue;
              font-weight: bold;}

.spec72{font-weight: bold;}

.modify{display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        padding: 20px;
        color: white;
        background-color: rgb(12, 9, 82);
        font-size: 13px;
        margin-top: 27px;}

@media (max-width: 780px) 
{
.container{     flex-direction: column;
                width: 50%;
                min-width: 320px;
                border-radius: 0;
                height: 680px;}

.left{  border-top-right-radius: 0;
        border-top-left-radius: 0;}

.title-result{  font-size: 15px;
                margin-top: 15px;}

.circle{width: 110px;
        height: 110px;
        border-radius: 50%;
        margin-top: 20px;
        font-size: 40px;}

.remainder{     font-size: 12px;
                margin-top: 80px;}

.remark{font-size: 20px;
        margin-top: 20px;}

.paragraph{     font-size: 13px;
                padding: 20px 0;}

.right{flex: unset;
        height: 55vh;}

.right-container{padding: 20px;}

h2{font-size: 17px;}

.items{ top:25px;
        gap: 15px;}

.items>*{
        padding: 15px;
        font-size: 14px;}

.modify{margin-top: 1px;}

}

